@font-face {
    font-family: "joystix-monospace";
    src: url("fonts/joystix-monospace.otf");
}

body {
    background-color: #0D1B2A;
    color: #E0E1DD;
    font-family: "joystix-monospace", sans-serif;
}

h1, .game-info {
    display: flex;
    justify-content: center;
    padding: 8px 0;
}

h3, h4 {
    margin: 6px;
}

.container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.game-container {
    display: flex;
    border: solid;
    flex-direction: column;
    height: 800px;
    width: 900px;
    border-color: #E0E1DD;
    border-radius: 32px;
    padding: 0 24px;
}

.score-card {
    display: flex;
    flex-direction: column;
    background-color: #415A77;
    border-radius: 18px;
    margin-bottom: 8px;
}

.score-card-header {
    display: flex;
    justify-content: center;
    align-items: center;
}

.score-card-body {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    margin: 0;
}

.selection-container {
    background-color: #415A77;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 12px;
    height: 345px;
    padding: 40px 0;
    margin-bottom: 8px;
    border-radius: 18px;
}

.player-selections {
    display: flex;
}

.match-info {
    display: flex;
}

.player-container {
    background-color: #415A77;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding-bottom: 22px;
    border-radius: 18px;
}

.btn-container {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 16px
}

.player-selection, .computer-selection {
    height: 300px;
    width: 300px;
}

.playBtn {
    background-color: #778DA9;
    border-color: #E0E1DD;
    border-width: 5px;
    border-radius: 8px;
    height: 150px;
    width: 150px;
}

.playBtn:hover, .replayBtn:hover{
    background-color: #778da9b4;
}

img {
    width: 100%;
    height: 100%;
}


